.update-profile-container {
    width: 100%;
    max-width: 540px;
    margin: auto;
    background-color: #fff;
}

.update-profile-form {
    display: flex;
    flex-direction: column;
}

.update-profile-form h2 {
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}

.update-profile-form input[type="date"],
.update-profile-form input[type="tel"],
.update-profile-form input[type="text"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 40px;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #d0d0d085;
}